body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    margin: 50px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

main {
	display: grid;
	grid-template-columns: 3fr 6fr;
}

#user-info {
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
}

#user-games p {
    cursor: pointer;
}

iframe {
    width:600px;
    height: 397px;
}
