body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    margin: 50px;
}

.submit {
    background-color: rgb(49, 116, 204);
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

aside {
    padding: 10px;
    color: darkred;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

main {
	display: grid;
	grid-template-columns: 3fr 6fr;
    text-align: center;
}

#user-info {
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
}

#user-games p {
    cursor: pointer;
}

.selected {
    background-color: rgb(171, 193, 221);
    padding: 10px;
}

#toggle-form {
    background-color: rgb(29, 105, 205);
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

iframe {
    width:600px;
    height: 397px;
}
