body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    margin: 50px;
}

aside {
    padding: 10px;
    color: darkred;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

main {
	display: grid;
	grid-template-columns: 3fr 6fr;
    text-align: center;
}

#user-info {
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
}

#user-games p {
    cursor: pointer;
}

.selected {
    background-color: lightsteelblue;
    padding: 10px;
}

iframe {
    width:600px;
    height: 397px;
}
